[submodule "glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "entt"]
	path = dependencies/entt
	url = https://github.com/skypjack/entt
